.site-footer {
    display: none;
}
footer {
    display: none;
}
.footer {
    display: none;
}
#footer {
    display: none;
}
.view {
    display: none;
}
.header h1 {
    display: none !important;
    color: red;
}
#header h1 {
    display: none;
}
